<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
    <h1>View Associate</h1>
    <a th:href="@{/associates}">Back to Associate List</a>
    <br/><br/>
    <div th:if="${associate}">
        <table border="0">
            <tr>
                <td>ID</td>
                <td>:</td>
                <td th:utext="${associate.id}">...</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td th:utext="${associate.name}">...</td>
            </tr>
            <tr>
                <td>Code</td>
                <td>:</td>
                <td th:utext="${associate.code}">...</td>
            </tr>
            <tr>
                <td>email</td>
                <td>:</td>
                <td th:utext="${associate.email}">...</td>
            </tr>
            <tr>
                <td>Certificado</td>
                <td>:</td>
                <td th:utext="${associate.certificate} ? 'Tem certificado' : 'Não tem certificado' ">...</td>
            </tr>
        </table>
        <br/><br/>
        <div th:if="not ${allowDelete}">
            <a th:href="@{/associates/{associateId}/edit(associateId=${associate.id})}">Edit</a> |
            <a th:href="@{/associates/{associateId}/delete(associateId=${associate.id})}">Delete</a> |
            <a th:href="@{/associates/{associateId}/code(associateId=${associate.code})}">Code</a>
        </div>
        <form th:if="${allowDelete}" th:action="@{/associates/{associateId}/delete(associateId=${associate.id})}" method="POST">
            Delete this associate? <input type="submit" th:value="Yes" />
        </form>
    </div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</main>
</body>
</html>