<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Developer List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Course List</h1>

<div>
    <nobr>
        <a th:href="@{/courses/add}">Add Course</a> |
        <a th:href="@{/}">Back to Index</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="course : ${courses}">
            <td><a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:utext="${course.id}">...</a></td>
            <td><a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:utext="${course.title}">...</a></td>
            <td><a th:href="@{/courses/{courseId}/edit(courseId=${course.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/courses?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/courses?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>