<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">General Form Elements</h5>

                        <!-- General Form Elements -->
                        <form th:action="${add} ? @{/courses/add} : @{/courses/{courseId}/edit(courseId=${course.id})}"
                              th:object="${course}" method="POST">
                            <div class="row mb-3" th:if="${course.id}">
                                <label for="inputText" class="col-sm-2 col-form-label">id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${course.id}" th:field="*{id}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tĩtulo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{title}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Carga Horãria</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" th:field="*{workload}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Start Date</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" class="form-control" th:field="*{startDate}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">End Date</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" class="form-control" th:field="*{endDate}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Certificado</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example" th:field="*{certificate}">
                                        <option th:value="0" th:text="Não" selected></option>
                                        <option th:value="1" th:text="Sim"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <!--button type="submit" class="btn btn-primary">Submit Form</button-->
                                    <input type="submit" class="btn btn-primary"
                                           th:value="${add} ? 'Create' : 'Update'"/>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!----------->
    <h1 th:text="${add} ? 'Create a Course:' : 'Edit a Course:'"/>
    <a th:href="@{/courses}">Back to Course List</a>
    <br/><br/>
    <form th:action="${add} ? @{/courses/add} : @{/courses/{courseId}/edit(courseId=${course.id})}"
          th:object="${course}" method="POST">
        <table border="0">
            <tr th:if="${course.id}">
                <td>ID</td>
                <td>:</td>
                <td th:utext="${course.id}">...</td>
            </tr>
            <tr>
                <td>Titulo</td>
                <td>:</td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>Data Inícial</td>
                <td>:</td>
                <td><input type="text" th:field="*{startDate}"/></td>
            </tr>
            <tr>
                <td>Date Final</td>
                <td>:</td>
                <td><input type="text" th:field="*{endDate}"/></td>
            </tr>
            <tr>
                <td>Carga Horaria</td>
                <td>:</td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td>Certificado</td>
                <td>:</td>
                <td>
                    <select th:field="*{certificate}">
                        <option th:value="0" th:text="Não"></option>
                        <option th:value="1" th:text="Sim"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" th:value="${add} ? 'Create' : 'Update'"/>
    </form>

    <br/>
    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>
</main>
</body>
</html>