<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Developer List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Developer List</h1>

<div>
    <nobr>
        <a th:href="@{/developers/add}">Add Developer</a> |
        <a th:href="@{/}">Back to Index</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="developer : ${developers}">
            <td><a th:href="@{/developers/{developerId}(developerId=${developer.id})}" th:utext="${developer.id}">...</a></td>
            <td><a th:href="@{/developers/{developerId}(developerId=${developer.id})}" th:utext="${developer.name}">...</a></td>
            <td th:utext="${developer.phone}">...</td>
            <td th:utext="${developer.email}">...</td>
            <td><a th:href="@{/developers/{developerId}/edit(developerId=${developer.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/developers?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/developers?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>