<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${add} ? 'Create a Tag' : 'Edit a Tag'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Tag:' : 'Edit a Tag:'"/>
<a th:href="@{/tags}">Back to Tag List</a>
<br/><br/>
<form th:action="${add} ? @{/tags/add} : @{/tags/{tagId}/edit(tagId=${tag.id})}"
      th:object="${tag}" method="POST">
    <table border="0">
        <tr th:if="${tag.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${tag.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'"/>
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>
</body>
</html>